/* Estilos generales */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f0ec;
  margin: 0;
  padding: 0;
  color: #0e0e0e;
}

/* Encabezado */
header {
  background-color: #e87b7b;
  color: rgb(6, 6, 6);
  padding: 20px;
  text-align: center;
}

/* Navegación */
nav {
  background-color: #6f5de7;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: rgb(10, 10, 10);
  text-decoration: none;
  font-weight: bold;
}

/* Contenido principal */
main {
  padding: 20px;
}

/* Encabezados */
h1 {
  margin-bottom: 30px;
}

h2 {
  color: #0b0b0b;
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 5px;
}

h3 {
  color: #34495e;
}

/* Párrafos */
p {
  line-height: 1.6;
}

/* Imagen */
img {
  display: block;
  margin: 15px 0;
  border-radius: 8px;
}

/* Video */
video {
  display: block;
  margin: 15px 0;
  border-radius: 8px;
}

/* Listas */
ul, ol {
  margin-left: 30px;
}

/* Tabla */
table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px 0;
  background-color: white;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #2c3e50;
  color: white;
}

/* Formulario */
form {
  background-color: white;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
}

button {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1a252f;
}

/* Footer */
footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}
